/* Elements */

body {
  background: #fefefe;
}

section {
  background: white;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  color: gray;
  text-align: justify;
  width: auto;
}

h2 {
  color: #1460aa;
  text-align: center;
}

h3 {
  text-align: center;
}

/* Classes */

.header {
  color: yellow;
}

.footer {
  color: green;
}

.primary-heading {
  background-color: honeydew;
}

.secondary-heading {
  background-color: indianred;
}

.tertiary-heading {
  background-color: lightcyan;
}
