/* Elements */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); }

header {
  width: auto; }

section {
  background: white; }

h1 {
  color: blue;
  text-align: center; }
  h1::before {
    content: 'Witam!'; }

p {
  color: gray;
  text-align: justify;
  width: auto; }

h2 {
  color: #1460aa;
  text-align: center; }

h3 {
  text-align: center; }

/* Classes */
.main {
  max-width: 1000px;
  margin: 0 auto; }
  .main__header {
    color: #1460aa; }

.header {
  min-height: 60px; }
  .header__homepage {
    top: 0;
    width: 100%; }
  .header__html {
    top: 0;
    width: 100%; }
  .header__css {
    top: 0;
    width: 100%; }
  .header__js {
    top: 0;
    width: 100%; }
  .header__other {
    top: 0;
    width: 100%; }

.hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: none; }

.navigation {
  display: none;
  padding: 16px; }

.navigation--open {
  display: block; }

.navigation__link {
  color: #1460aa;
  display: block;
  margin: 0 0 16px; }
  .navigation__link--homepage {
    text-align: center; }
  .navigation__link--html {
    text-align: center; }
  .navigation__link--css {
    text-align: center; }
  .navigation__link--js {
    text-align: center; }
  .navigation__link--other {
    text-align: center; }

.primary__heading {
  background-color: honeydew; }
  .primary__heading--homepage {
    background-color: #e0c3fc; }
  .primary__heading--html {
    background-color: #e0c3fc; }
  .primary__heading--css {
    background-color: #e0c3fc; }
  .primary__heading--js {
    background-color: #e0c3fc; }
  .primary__heading--other {
    background-color: #e0c3fc; }

.secondary__heading {
  background-color: indianred; }
  .secondary__heading--homepage {
    background-color: indianred; }
  .secondary__heading--html {
    background-color: indianred; }
  .secondary__heading--css {
    background-color: indianred; }
  .secondary__heading--js {
    background-color: indianred; }
  .secondary__heading--other {
    background-color: indianred; }

.tertiary__heading {
  background-color: lightcyan; }
  .tertiary__heading--homepage {
    background-color: lightcyan; }
  .tertiary__heading--html {
    background-color: lightcyan; }
  .tertiary__heading--css {
    background-color: lightcyan; }
  .tertiary__heading--js {
    background-color: lightcyan; }
  .tertiary__heading--other {
    background-color: lightcyan; }

.paragraph__description {
  text-align: center; }
  .paragraph__description--homepage {
    background-color: #e0c3fc; }
  .paragraph__description--html {
    background-color: #e0c3fc; }
  .paragraph__description--css {
    background-color: #e0c3fc; }
  .paragraph__description--js {
    background-color: #e0c3fc; }
  .paragraph__description--other {
    background-color: #e0c3fc; }

.picture {
  position: static; }
  .picture__homepage {
    width: 100%; }
  .picture__html {
    width: 100%; }
  .picture__css {
    width: 100%; }
  .picture__js {
    width: 100%; }
  .picture__other {
    width: 100%; }

.footer {
  color: green; }
  .footer__link {
    background-color: pink; }

@media (min-width: 768px) {
  .hamburger {
    display: none; }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px; }
  .navigation {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center; } }
